*{
    margin: 0px;
    padding: 0px;
}
/* header style */
.total-header{
    background-color: gray;
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding-top:12px;
}
.lists ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 12px;
    font-style: italic;
    
}

li{
    font-size: large;
}