*{
    margin: 0px;
    padding: 0px;
}
/* .total-header{
    background-color:wheat;
     height: 850px;
    
} */

.dev{

    display: flex;
   
    justify-content: space-evenly;
  
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-top: 20px;
 
}

.heading{
    display: flex;
    justify-content:space-around;
    
   
    
}
.lists{
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;
}
.btn-universal{
    background-color: orange;
    
    color: white;
    padding: 18px 35px;
    border-radius: 4px;
}
.top-down{
    padding-top: 18px;
}
h1{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.btn{
    background-color: white;
    color: orange;
    padding: 18px 35px;
    border-radius: 4px;
}
.distance{
    margin-right: 10px;
}
.text{
    padding-top: 185px;
    margin-left: 20px;
}
.down{
    padding-bottom: 12px;
}
/* .total-2nd-heading{
     display: flex; 
    justify-content: space-between;
} */
.marty-images{
    position: relative;
}
.second-image{
 position: absolute;

}

.mary{

    display: flex;
    justify-content:space-around;
}