*{
    padding: 0px;
    margin: 0px;
}
.img{
    width: 80px;}
.heading{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: space-around;
 color: rgba(255, 64, 0, 0.88);
 background-color: antiquewhite;
 height:100px ;
 }
.home{
display: flex;
justify-content: space-around; 

}  
.break:hover{
    color: black;
    
}      
.break{
    margin-right:20px;
    font-size:large;
    cursor: pointer;
}
.img-edit{
    height: 340px;
    border-radius: 20px;
    box-shadow: 40px 20px 30px;
}
.total-background{
    background-color:#B0B9C0 ;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.btn{
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: wheat;
    border-radius: 12px;
    cursor: pointer;
}
.btn:hover{
    color: azure;
}
.text-size{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* .text{
    border:0px solid ;
    border-radius: 2px;
    box-shadow: 40px 20px 30px;
    padding: 10px;
    margin: none;
} */